
<header class="bg-primary p-4 mb-4 text-white">
  <div class="row">
      <div class="col-md-9">
          <h1>IMDB</h1>
      </div>
      <div class="col-md-3 text-right">
        <input type="text" class="form-control" placeholder="search movie"
        [(ngModel)]="searchByValue">
      </div>
  </div>
</header>
<section class="heroImg">
    <div class="container-fluid">
      <div class="row" id="movieSection">       
       <div class="col-md-3" *ngFor="let movie of movieArray | filtermovie : searchByValue"> 
         <div class="card mb-4 m-2" > 
           <figure class="posterImg"> 
            <img src="{{imgBaseurl}}{{movie.poster_path}}">
              <figcaption class="posterInfo p-3 bg-dark"> 
                <div class="row"> 
                 <div class="col-md-10"> 
                   <h4>{{movie.title}}</h4> 3
                 </div>
                 <div class="col-md-2 py-4"> 
                   <span class="movieRating"> 
                     {{movie.vote_average}}	 
                   </span> 
                  </div> 
               </div> 
             </figcaption> 
             <div class="overview bg-white p-4"> 
                <h4 class="text-capitalize">overview:</h4> 
               <p class="text-justify">{{movie.overview}}</p> 
             </div> 
           </figure> 
         </div> 
       </div> 
      </div>
    </div>
  </section>
  